<!DOCTYPE html>
<html>
<head>
	<title>Jiro Developers</title>
	<link rel="stylesheet" type="text/css" href="static/fonts/nova/fonts.min.css" />
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
	<link rel="stylesheet" type="text/css" href="static/css/devheader.css">
	<link rel="stylesheet" type="text/css" href="static/css/login.css"><link rel="stylesheet" type="text/css" href="/static/css/big-buttons.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div id="login">
		<h2> Login </h2>
		<input type="text" placeholder="Username" id="username">
		<input type="password" placeholder="Password" id="password">
		<button class="login">Login</button>
		<button class="register">Register</button>
	</div>
	<div id="devheader-wrapper">
		<div id="devheader">
			<a href="//www.jiroplay.com"><img src="static/img/back.png"></a>
			<h1><span>Jiro</span> Developers</h1>
			<h2 id="loginButton" onclick="toggleLogin();"> Login </h2>
			<div>
				<div class="selected"> Home </div>
				<a href="/docs"><div> Docs </div></a>
			</div>
		</div>
	</div>
	<main class="container">
		<h2> Welcome to Jiro Developers </h2><br>
		<p> On this website you will be able to find the resources needed to learn how to create your own Jiro apps.</p><br>
		<p> To learn how to make your very first app, click the following link:</p><br>
		<a href="/getting-started">
			<div class="big-button"><img src="/static/img/setup-icon.png">Getting Started with Jiro</div></a><br><br>
		<p> Once you've finished that, you can look at the documentation to learn how to create controllers for your app and how to interact with them using the Python API:</p><br>
		<a href="/docs">
			<div class="big-button"><img src="/static/img/docs-icon.png" style="width: 32px;">Jiro Documentation</div></a>
	</main>
</body>
<script src="static/js/login.js"></script>
</html>