<h1> Welcome to jiro developers! </h1>
<div><a href="/docs">Documentation</a></div>
<br><br><br><br><br>
<a href="http://www.jiroplay.com/" style="font-weight: bold; text-decoration: none; color: darkblue; font-size: 18px;">< Back</a>
<style>
body {text-align: center; margin-top: 150px; overflow: hidden;}
div {display: inline-block; transform: scale(1.3); transition: transform 0.3s;}
div:hover {transform: scale(1.6);}
</style>
<meta name="viewport" content="width=device-width, initial-scale=1.0">